<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Using isOpen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Using isOpen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="setOpen(true)">Click Me</ion-button>
    <ion-alert
      [isOpen]="isAlertOpen"
      header="Alert"
      subHeader="Important message"
      message="This is an alert!"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
    ></ion-alert>
  </div>
</ion-content>
