<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Customization
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customization</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button id="present-alert-customization">Click Me</ion-button>
    <ion-alert trigger="present-alert-customization" class="custom-alert" header="Are you sure?" [buttons]="alertButtons"></ion-alert>
  </div>
</ion-content>
