<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inline" href="/tabs/inline">
      <ion-icon aria-hidden="true" name="body"></ion-icon>
      <ion-label>Inline</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="isopen" href="/tabs/isopen">
      <ion-icon aria-hidden="true" name="lock-open"></ion-icon>
      <ion-label>isOpen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="controller" href="/tabs/controller">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Controller</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buttons" href="/tabs/buttons">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Buttons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inputs" href="/tabs/inputs">
      <ion-icon aria-hidden="true" name="radio-button-on"></ion-icon>
      <ion-label>Inputs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customization" href="/tabs/customization">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Customization</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accessibility" href="/tabs/accessibility">
      <ion-icon aria-hidden="true" name="eye-off"></ion-icon>
      <ion-label>Accessibility</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
