<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Theming
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Theming</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="width:300px;">
    <h3>Colors</h3>
    <ion-list>
      <ion-item>
        <ion-label>Followers</ion-label>
        <ion-badge color="primary">22k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Likes</ion-label>
        <ion-badge color="secondary">118k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Stars</ion-label>
        <ion-badge color="tertiary">34k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Completed</ion-label>
        <ion-badge color="success">80</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Warnings</ion-label>
        <ion-badge color="warning">70</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Notifications</ion-label>
        <ion-badge color="danger">1000</ion-badge>
      </ion-item>
    </ion-list>
    <br/><br/>

    <h3>CSS Properties</h3>
    <ion-list id="css-properties">
      <ion-item>
        <ion-label>Badges styled</ion-label>
        <ion-badge>1</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
