<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Customization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customization</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="width:300px;">
    <h3>Expansion Styles​</h3>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>

    <h3>Advanced Expansion Styles​</h3>
    <ion-accordion-group id="advanced-exp">
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>

    <h3>Icons</h3>
    <ion-accordion-group>
      <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>
