#container {
  text-align: center;

  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


/* Advanced Expansion Styles */

#advanced-exp ion-accordion {
  margin: 0 auto;
}

#advanced-exp ion-accordion.accordion-expanding,
#advanced-exp ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

#advanced-exp ion-accordion.accordion-collapsing ion-item[slot='header'],
#advanced-exp ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

#advanced-exp ion-accordion.accordion-expanding ion-item[slot='header'],
#advanced-exp ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
