<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inline">
      <ion-icon name="accessibility"></ion-icon>
      Inline
    </ion-tab-button>
    <ion-tab-button tab="isopen">
      <ion-icon name="alarm"></ion-icon>
      isOpen
    </ion-tab-button>
    <ion-tab-button tab="controller">
      <ion-icon name="american-football"></ion-icon>
      Controller
    </ion-tab-button>
    <ion-tab-button tab="collecting">
      <ion-icon name="bag"></ion-icon>
      Collecting
    </ion-tab-button>
    <ion-tab-button tab="styling">
      <ion-icon name="brush"></ion-icon>
      Styling
    </ion-tab-button>
    <ion-tab-button tab="customcss">
      <ion-icon name="color-palette"></ion-icon>
      Custom CSS
    </ion-tab-button>
    <ion-tab-button tab="accessibility">
      <ion-icon name="eye-off"></ion-icon>
      Accessibility
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
