<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buttons</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button id="present-alert-buttons">Click Me</ion-button>
    <ion-alert
      trigger="present-alert-buttons"
      header="Alert!"
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)"
    ></ion-alert>
    <br/><br/>
    <p>Inspect Console Log</p>
  </div>
</ion-content>
