<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="basic" href="/tabs/basic">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Basic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="toggle" href="/tabs/toggle">
      <ion-icon aria-hidden="true" name="toggle"></ion-icon>
      <ion-label>Toggle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listen" href="/tabs/listen">
      <ion-icon aria-hidden="true" name="ear"></ion-icon>
      <ion-label>Listen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="multiple" href="/tabs/multiple">
      <ion-icon aria-hidden="true" name="copy"></ion-icon>
      <ion-label>Multiple</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="disabling" href="/tabs/disabling">
      <ion-icon aria-hidden="true" name="hand-right"></ion-icon>
      <ion-label>Disabling</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="readonly" href="/tabs/readonly">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Readonly</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customization" href="/tabs/customization">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Customization</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="theming" href="/tabs/theming">
      <ion-icon aria-hidden="true" name="color-palette"></ion-icon>
      <ion-label>Theming</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accessibility" href="/tabs/accessibility">
      <ion-icon aria-hidden="true" name="eye-off"></ion-icon>
      <ion-label>Accessibility</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
