<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accessibility
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accessibility</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="presentActionSheet2()">Open Accessibility Action Sheet</ion-button>
    <br/><br/>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
