<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="baseball" href="/sports/baseball">
      <ion-icon aria-hidden="true" name="baseball"></ion-icon>
      <ion-label>Baseball</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="football" href="/sports/football">
      <ion-icon aria-hidden="true" name="american-football"></ion-icon>
      <ion-label>Football</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="basketball" href="/sports/basketball">
      <ion-icon aria-hidden="true" name="basketball"></ion-icon>
      <ion-label>Basketball</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>